<div class="ctgrys">
    <a href="/home">
        <div class="ctgry">
            <i class="fa-solid fa-border-all"></i>
            <p>All</p>
        </div>
    </a>
    <a href="/men">
        <div class="ctgry">
            <i class="fa-solid fa-person"></i>
            <p>Men</p>
        </div>
    </a>
    <a href="/women">
        <div class="ctgry">
            <i class="fa-solid fa-person-dress"></i>
            <p>Women</p>
        </div>
    </a>
    <a href="/winter">
        <div class="ctgry">
            <i class="fa-regular fa-snowflake"></i>
            <p>Winter</p>
        </div>
    </a>
    <a href="/summer">
        <div class="ctgry">
            <i class="fa-solid fa-temperature-high"></i>
            <p>Summer</p>
        </div>
    </a>
    <a href="/upper">
        <div class="ctgry">
            <i class="fa-solid fa-shirt"></i>
            <p>Upper</p>
        </div>
    </a>
    <a href="/lower">
        <div class="ctgry">
            <i class="fa-solid fa-socks"></i>
            <p>lower</p>
        </div>
    </a>
    <a href="/accessories">
        <div class="ctgry">
            <i class="fa-solid fa-hat-cowboy"></i>
            <p>Accessories</p>
        </div>
    </a>
</div>