<% layout('../layouts/boilerplate') %>

    <body>
        <form action="/signup" method="post" class="addform">
            <h3>SignUp to FashionSpells</h3>
            <a href="/home" id="cross"><i class="ri-close-line"></i></a>
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="text" name="email" placeholder="Enter email" required>
            <input type="password" name="password" placeholder="Enter password" required>
            <button type="submit">SignUp</button>
        </form>
    </body>